* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  background: #ffffff;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #202020;
  color: #585858;
  word-break: keep-all;
  max-width:500px;
  margin: 0 auto 0 auto;
}

body, input, button, textarea, select {
  font-family: 'Spoqa Han Sans Neo';
}
#app {
	padding: 15px;
	border: 15px solid transparent;
	background: linear-gradient(#FAFAFA, #FAFAFA) padding-box,
	            repeating-linear-gradient(-45deg, red 0, red 12.5%, #FAFAFA 0, #FAFAFA 25%, 
	              #58a 0, #58a 37.5%, #FAFAFA 0, #FAFAFA 50%) 0 / 6em 6em;
	max-width: 500px;
	font: 100%/1.6 Baskerville, Palatino, serif;
}

ul {
  list-style: none;
}

.entranceButton {
  font-size: 12px;
  border: none;
  border-radius: 15px;
}

.inputClass{
  border: 1px solid #d8d8d8
}

.fade-out-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: darkgray;
  padding: 10px 15px;
  border-radius: 22.5px;
  animation: fadeout 3s;
  -moz-animation: fadeout 3s; /* Firefox */
  -webkit-animation: fadeout 3s; /* Safari and Chrome */
  -o-animation: fadeout 3s; /* Opera */
  animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
